
table {
    margin: 0 auto;
    width: 80%;
}
table th {
    font-size: 1.1rem;
}
table td {
    font-size: 1rem;
}
.container-filter{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.1rem;
}