<div class="container-filter">
    <h2>Listado de personas</h2>

    <button mat-raised-button
            color="primary"
            (click)="cambiarOrden()"
            title="Puede ordenar los resultado según el sexo">
        Filtrar por sexo
        <mat-icon>sort</mat-icon>
    </button>
</div>

<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha de nacimiento</th>
    <th>Sexo</th>
    <th></th>
  </tr>
  <tr *ngFor="let persona of personas | ordenar:cambiarOrdenPipe">
    <td>{{persona.nombre}}</td>
    <td>{{persona.fecha_nacimiento | date:'MMMM dd, yyyy'}}</td>
    <td>{{persona.sexo}}</td>
    <td>
      <button mat-raised-button
              color="accent"
              [routerLink]="['/agregar/', persona.id]">
        Editar
      </button>
      <button mat-raised-button
              color="warn"
              (click)="deletePersona(persona.id)">
        Eliminar
      </button>
    </td>
  </tr>
</table>